@charset "UTF-8";
/* CSS Document */

body{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background-size: cover;
    height: 800px;
    background-image: url("../Photos/Baggrund.jpeg");
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	padding: 30px;
  	color: white;
}

.logo{
	cursor: pointer;
}

.menu{
	cursor: pointer;
}

nav{
	float: left;
	margin: 0px;
}

.sidebar{
	background: #003E97;
	width: 960px;
	position: absolute;
	display: none;
}

.sidebar h1{
	color: white;
	padding-left: 30px;
	padding-top: 15px;
}

.sidebar h2{
	color: white;
	display: block;
	width: 230px;
	margin-left: 30px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.sidebar p{
	color: white;
	padding-left: 30px;
	margin-bottom: 60px;
	width: 720px;
}

.sidebar h2:hover{
	background: white;
	color: #003E97;
	cursor: pointer;
}


#check:checked ~ .sidebar{
	display: block;
}

#check{
	display: none;
}

article{
	background: white;
	margin-top: 100px;
	margin-left: 480px;
	width: 1080px;
}

.article{
	padding: 30px;
}

.article p{
	font-size: 16px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.article h1{
	font-size: 35.2px;
	font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.article h2{
	font-size: 24px;
	font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.article h4{
	font-size: 14px;
	font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: normal;
	padding-top: 15px;
}

.article h5{
	font-size: 11px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.article h6{
	font-size: 11px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: normal;
}

@media screen and (max-width: 1440px) {
	body {width: 1440px;}
	.sidebar {width: 720px;}
	.sidebar p{width: 600px;}
	article {margin-left: 180px;}
}