@charset "UTF-8";
/* CSS Document */

body{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background-size: cover;
    height: 800px;
    background-image: url("../Photos/Baggrund.jpeg");
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	padding: 30px;
  	color: white;
}

.logo{
	cursor: pointer;
}

.menu{
	cursor: pointer;
	
}

